<template name="entriesTable">
  <tr class="entries">
    <td colspan="2">Entries</td>
    <td colspan="8">
        {{#if hasItems}}
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
            {{#each entries}}
              {{> entryRow }}
            {{/each}}
            </tbody>
          </table>
        {{else}}
          <p>No entries for this tier</p>
        {{/if}}
        {{#if isAdmin}}
          {{#if isLottoOpen}}
            {{> entryAdd }}
          {{/if}}
        {{/if}}
    </td>
    <td></td>
  </tr>
</template>

<template name="entryRow">
  <tr>
    <td>{{username}}</td>
    <td>{{amount}}</td>
    <td>{{#if isLottoOpen}}<button class="remove btn btn-danger btn-xs">x</button>{{/if}}</td>
  </tr>
</template>

<template name="entryAdd">
  <form class="entry-add form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="userId">User</label>
      <select name="userId" id="userId" class="form-control">
        <option value="">Select user</option>
          {{#each usernames }}
            <option value="{{_id}}">{{username}}</option>
          {{/each}}
      </select>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</template>