<template name="entriesTable">
  <tr>
    <td colspan="2">Entries</td>
    <td colspan="8">
        {{#if hasItems}}
          <table class="table table-striped table-bordered">
            <tbody>
            {{#each entries}}
                {{> entryRow }}
            {{/each}}
            {{#if isAdmin}}
                {{> entryAdd }}
            {{/if}}
            </tbody>
          </table>
        {{else}}
          <p>No entries for this tier</p>
        {{/if}}
    </td>
    <td></td>
  </tr>
</template>

<template name="entryRow">
  <tr>
    <td>{{userId}}</td>
    <td>{{amount}}</td>
  </tr>
</template>

<template name="entryAdd">
  <tr>
    <td><form class="form-inline" role="form">
      <div class="form-group">
        <select name="name" id="name" class="form-control">
          <option>Select</option>
            {{#each usernames }}
              <option value={{userId}}>{{username}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form></td>
    <td></td>
  </tr>
</template>