<template name="entriesTable">
  <tr class="entries">
    <td colspan="2">
      <p>
        {{entries.length}} {{#if hasOne}}entry{{else}}entries{{/if}}
      </p>
      {{#if isAdmin}} {{#unless isLottoOpen}}
        <button class="roll btn btn-active">Roll</button>
      {{/unless}}{{/if}}
    </td>
    <td colspan="8">
      {{#if hasEntries}}
        <table class="table table-striped table-bordered table-condensed table-entries">
          <tbody>
          {{#each entries}}
            {{> entryRow }}
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>No entries for this tier</p>
      {{/if}}
      {{#if isAdmin}}
        {{#if isLottoOpen}}
          {{> entryAdd }}
        {{/if}}
      {{/if}}
    </td>
    <td></td>
  </tr>
</template>

<template name="entryRow">
  <tr>
    <td class="index"><i></i></td>
    <td>{{mainUsername}}</td>
    <td>{{amount}}</td>
    <td>{{#if isAdmin}}{{#if isLottoOpen}}<button class="remove btn btn-danger btn-xs">x</button>{{/if}}{{/if}}</td>
  </tr>
</template>

<template name="entryAdd">
  <form class="entry-add form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="gwuserId">User</label>
      <select name="userId" id="gwuserId" class="form-control">
        <option value="">Select user</option>
          {{#each gwusers }}
            <option value="{{_id}}">{{alts.[0]}}</option>
          {{/each}}
      </select>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</template>