<template name="logEntriesTable">
  {{#if hasEntries}}
  <table class="table-entries table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="index"></th>
        <th>User</th>
        <th>Amount</th>
        {{#if showWinner}}<th>Winner</th>{{/if}}
        {{#if isAdmin}}{{#if isLottoOpen}}<th>Admin</th>{{/if}}{{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each entry in reverse entries}}
        <tr {{attributes entry}}>
          <td class="index"><i></i></td>
          <td title="{{restoreDots entry.gwuserId}}">{{mainUsername entry.gwuserId}}</td>
          <td>{{entry.amount}}</td>
          {{#if showWinner}}
            <td>{{#if entry.winner}}Winner{{/if}}</td>
          {{/if}}
          {{#if isAdmin}}{{#if isLottoOpen}}
            <td>
            {{#with lotto=lotto entry=entry }}
              <button class="entry-remove btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete
              </button>
            {{/with}}
            </td>
          {{/if}}{{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <p>No entries for this tier</p>
  {{/if}}
</template>
