.table-log th.selector {
  width: 25px;
}
.table-log .coins {
  text-align: right;
}
.table-log .ignore {
  color: gray;
}
.table-log tbody>tr:hover {
    background-color: lightGray !important;
}
.modal-body {
    height: calc(100vh - 212px);
    overflow-y: auto;
}
