<template name="logModal">
  <div class="modal fade" id="logModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Load Bank Log from API</h3>
        </div>
        <div class="modal-body">
          <h4 class="text-warning">TODO!</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
