
table {
  table-layout: fixed;
}

[role=button] {
  cursor:pointer;
}

.prize-cell {
  position: relative;
}

.prize-cell .popover-wrapper {
  position: absolute;
  top: 100%;
  display: block;
  left: 50%;
}

.popover-wrapper .popover.bottom {
  display: block;
  position: relative;
  width: 250px;
  left: 0;
  margin-left: -50%;
  margin-top: 0;
}

.popover .close {
  padding: 5px;
}

.table-entries {
  counter-reset: section;
}

.table-entries i {
  counter-increment: section;  
}

.table-entries i:before {
  content: counter(section);
}
.table-entries .index {
  width: 20px;
}

.bubble {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 7px;
}