<template name="lottoAdd">
  <form class="form-inline" role="form">
    <div class="form-group {{errorClass 'date'}}">
      <div class="input-group">
        <label class="sr-only" for="date">New Lotto: </label>
        <input type="date" class="form-control" name="date" id="date" required pattern="\d{4}-\d{1,2}-\d{1,2}" placeholder="YYYY-MM-DD" />
        <p class="help-block">{{errorMessage 'date'}}</p>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Lotto
          </button>
        </span>
      </div>
      <!-- Deprecated feature b/c of API -->
      <!-- <label title="Copy items from previous lotto">
        <input type="checkbox" name="autofill" id="autofill" /> Autofill
      </label> -->
    </div>
  </form>
</template>
