<template name="lottoPage">
  {{> lottoItem lotto }}

  {{#if isAdmin}}
  <div class="btn-toolbar">
    <div class="btn-group" role="group">
    {{#if lotto.closed}}
      <button type="button" class="closeLotto btn btn-warning">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Unlock Lotto
      </button>
    {{else}}
      <button type="button" class="closeLotto btn btn-success">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Lock Lotto
      </button>
    {{/if}}

    {{#if lotto.public}}
      <button type="button" class="togglePublic btn btn-warning">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Make Private
      </button>
    {{else}}
      <button type="button" class="togglePublic btn btn-info">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Make Public
      </button>
    {{/if}}
    </div>
  </div>
  {{/if}}

  <div class="content">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        {{> pot toggle='toggleSmallPot' total=lotto.smallpot entries=lotto.smallpot_entries label='Small Pot' winner=lotto.smallpot_winner lotto=lotto }}
      </div>
      <div class="col-xs-6 col-sm-6">
        {{> pot toggle='toggleBigPot' total=lotto.bigpot entries=lotto.bigpot_entries label='Big Pot' winner=lotto.bigpot_winner lotto=lotto }}
      </div>
    </div>
    
    <div class="row">
      <div class="log-panel form-group col-xs-12">
        <div class="panel panel-default">
          <div class="toggleLog panel-heading" data-toggle="collapse" data-target="#log-body">
            <span>{{#if inSession 'toggleLog' true}}&#9660;{{else}}&#9654;{{/if}} Log</span>
          </div>
          
          <div class="panel-body panel-collapse collapse" id="log-body">
            {{#if isAdmin}}{{#if isLottoOpen}}
              <button type="button" class="populateLog btn btn-primary" data-toggle="tooltip" title="Load Bank Log from GW2-API">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> GW2-API
              </button>
              
              <div class="pull-right">
                <form class="entry-add-direct form-inline" role="form">
                  <div class="form-group">
                    <label for="entryAmount">Add Entries: </label>
                    <select name="entryUserId" id="entryUserId" class="form-control">
                      <option value="" disabled selected hidden>Select User</option>
                      {{#each gwuser in gwusers}}
                        <option value="{{gwuser._id}}">{{gwuser.alts.[0]}}</option>
                      {{/each}}
                    </select>
                    <input type="number" class="form-control" name="entryAmount" id="entryAmount" placeholder="Select Tier" min="2" max="20" step="2" required />
                    <label class="sr-only" for="entryUserId">User</label>
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
                    </button>
                  </div>
                </form>
              </div>
              <div class="clearfix"><p></p></div>
            {{/if}}{{/if}}

            {{> logEntriesTable lotto=lotto entries=lotto.entries }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Prizes</div>
      <div class="panel-body">
        
        {{#if isAdmin}}{{#if isLottoOpen}}
          <button type="button" class="populateItems btn btn-primary" data-toggle="tooltip" title="Load Entries from GW2-API">
            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> GW2-API
          </button>
          <div class="clearfix"><p></p></div>
        {{/if}}{{/if}}
        
        <table class="inventory table table-striped table-bordered">
          <thead>
          {{> tableHeaders }}
          </thead>
          <tbody class="table-prizes">
            {{#each tier in tiers}}
              {{#if showTier lotto.type tier.tier }}
                {{#let tierEntries=(filterEntries lotto.entries tier.tier)}}
                  {{> tierRow tier=tier entries=tierEntries lotto=lotto }}
                  
                  {{#if inSession 'SelectedTier' tier.tier }}
                    <tr class="entries">
                      <td colspan="12">
                        {{> logEntriesTable lotto=lotto entries=tierEntries }}
                      </td>
                    </tr>
                  {{/if}}
                {{/let}}
              {{/if}}
            {{/each}}

            {{> tableHeaders }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{> logModal}}
</template>

<template name="tableHeaders">
  <tr>
    <th class="index"></th>
    {{#each range 1 11 1 }}
      <th class="item">{{ value }}</th>
    {{/each}}
    <th>Winner</th>
  </tr>
</template>
