<template name="lottoPage">
    {{> lottoItem }}

  <div class="content">
    <div class="form-group">
      <label>Small pot:</label> <span>{{ smallpot }}</span>
    </div>
    <div class="form-group">
      <label>Big pot:</label> <span>{{ bigpot }}</span>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      {{> tableHeaders }}
      </thead>
      <tbody>
      {{#each tiers}}
          {{> tierRow }}
          {{#if inSession 'SelectedTier' tier}}
              {{#with showEntries ../entries }}
                  {{> entriesTable }}
              {{/with}}
          {{/if}}
          {{#if midTier}}
              {{> tableHeaders }}
          {{/if}}
      {{/each}}
      {{> tableHeaders }}
      </tbody>
    </table>
  </div>
</template>

<template name="tableHeaders">
  <tr>
    <th></th>
      {{#each range 1 11 1 }}
        <th>{{ value }}</th>
      {{/each}}
  </tr>
</template>
