<template name="lottoAdd">
  <form class="form-inline" role="form">
    <div class="form-group {{errorClass 'date'}}">
      <label class="sr-only" for="date">Date</label>
      <input name="date" id="date" type="date" value="" required class="form-control"/>
      <!--<p class="help-block">{{errorMessage 'date'}}</p>-->
    </div>
    <div class="checkbox">
    	<label title="Copy items from previous lotto">
    		<input type="checkbox" name="autofill" id="autofill" checked="checked"> Fill items
    	</label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</template>