
table {
  table-layout: fixed;
}

[role=button] {
  cursor:pointer;
}

.panel-heading[data-toggle=collapse]:hover {
  cursor: pointer;
  text-decoration: underline;
}

.prize-row > td .popover-wrapper {
  position: absolute;
  top: 100%;
  display: block;
  left: 50%;
}

.popover-wrapper .popover.bottom {
  display: block;
  position: relative;
  width: 250px;
  left: 0;
  margin-left: -50%;
  margin-top: 0;
}

.popover .close {
  padding: 5px;
}

.table-entries {
  counter-reset: section;
}

.table-entries i {
  counter-increment: section;  
}

.table-entries i:before {
  content: counter(section);
}

.table-entries .index {
  width: 20px;
}

.table-prizes {
  counter-reset: row;
}

.table-prizes .tier-number i {
  counter-increment: row;
}

.table-prizes .tier-number i:before {
  content: counter(row);
}

.gold {
  padding-right: 20px;
  background: url("/gold_coin.png") no-repeat 100% 0% transparent;
}

.silver {
  padding-right: 20px;
  background: url("/silver_coin.png") no-repeat 100% 0% transparent;
}

.copper {
  padding-right: 20px;
  background: url("/copper_coin.png") no-repeat 100% 0% transparent;
}

.btn-toolbar {
  margin-bottom: 5px;
}

.winner td, td.winner {
  background: gold;
}

.inventory th.item {
  width: 80px;
}

.inventory > thead > tr > th.index {
  width: 102px;
}

@keyframes fadein {
  from { opacity: 0; }
}

.table-entries {
  animation: fadein 0.5s ease;
}
