<template name="lottoPage">
  {{> lottoItem lotto }}

  {{#if isAdmin}}
  <div class="form-group pull-right">
    {{#if lotto.closed}}
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <span>Lotto is closed</span>
    {{else}}
      <button type="button" class="closeLotto btn btn-danger">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Close lotto
      </button>
    {{/if}}

    {{#if lotto.public}}
      <button type="button" class="togglePublic btn btn-danger">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Make private
      </button>
    {{else}}
      <button type="button" class="togglePublic btn btn-success">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Make public
      </button>
    {{/if}}
  </div>
  {{/if}}

  <div class="content">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        {{#with makePot '_smallPot' lotto.smallpot lotto.smallpot_entries 'Small Pot' }}
          {{> pot }}
        {{/with}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        {{#with makePot '_bigPot' lotto.bigpot lotto.bigpot_entries 'Big Pot' }}
          {{> pot }}
        {{/with}}
      </div>
    </div>
    
    <table class="table table-striped table-bordered">
      <thead>
      {{> tableHeaders }}
      </thead>
      <tbody>
      {{#each tiers}}
        {{> tierRow }}
        {{#if inSession 'SelectedTier' tier}}
          {{#with showEntries ../lotto.entries ../lotto.closed }}
            {{> entriesTable }}
          {{/with}}
        {{/if}}
        {{#if midTier}}
          {{> tableHeaders }}
        {{/if}}
      {{/each}}
      {{> tableHeaders }}
      </tbody>
    </table>
  </div>
</template>

<template name="tableHeaders">
  <tr>
    <th></th>
    {{#each range 1 11 1 }}
      <th>{{ value }}</th>
    {{/each}}
  </tr>
</template>

<template name="pot">
  <label class="togglePot" role="button">
  {{#if inSession toggle true}}&#9660;{{else}}&#9654;{{/if}}
    {{label}}:
  </label> <span>{{ total }}</span>
  {{#if inSession toggle true}}
    <table class="table table-striped table-bordered table-condensed table-entries">
      <tbody>
      <tr>
        <th class="index"></th>
        <th>User</th>
        <th>Total</th>
        <th>Range</th>
      </tr>
      {{#each potEntries entries}}
        <tr>
          <td class="index"><i></i></td>
          <td>{{mainUsername gwuserId}}</td>
          <td>{{amount}}</td>
          <td>{{rangeStart}} - {{rangeEnd}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>