<template name="pot">
  <div class="panel panel-default">
    <div class="panel-heading">{{label}}</div>
    <div class="panel-body">
      {{#if hasWinner}}
        {{#if showSAPowers}}
          <button type="button" class="unroll btn btn-danger pull-right">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Unroll
          </button>
        {{/if}}
      {{else}}
        {{#if isAdmin}} {{#unless isLottoOpen}}
          <button type="button" class="roll btn btn-primary pull-right">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Roll
          </button>
        {{/unless}} {{/if}}
      {{/if}}
      <p>
        Total: <span class="gold">{{ total }}</span><br />
        Winnings: <span class="gold">{{ half total }}</span>
      </p>
      <span class="togglePot" role="button">{{#if inSession toggle true}}&#9660; Hide{{else}}&#9654; Show{{/if}} Entries</span>
      {{#if inSession toggle true}}
        <table class="table table-striped table-bordered table-condensed table-entries">
          <tbody>
          <tr>
            <th class="index"></th>
            <th>User</th>
            <th>Total</th>
            <th>Range</th>
          </tr>
          {{#each potEntries entries winner}}
            <tr {{attributes}}>
              <td class="index"><i></i></td>
              <td>{{mainUsername gwuserId}}</td>
              <td>{{amount}}</td>
              <td>{{rangeStart}} - {{rangeEnd}}</td>
            </tr>
          {{else}}
            <tr>
              <td></td>
              <td colspan="3">No entries</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </div>
</template>
