<template name="tierRow">
  <tr class="prize-row">
    <th class="tier-number index" role="button">
      {{#if inSession 'SelectedTier' tier.tier}}&#9660;{{else}}&#9654;{{/if}}
      <i></i>
      (<span class="gold">{{tier.tier}}</span>)<br />
      <p>{{entriesLength}} {{#if hasOne}}Entry{{else}}Entries{{/if}}</p>
    </th>
    {{#each prize in prizeLoop tier.prizes}}
      <td {{attributes prize}}>
        {{#if prize}}
          {{#if prize.icon}}
            <img class="prize" alt="{{either prize.name prize.prize}}" data-toggle="tooltip" title="{{either prize.count prize.amount}}x {{either prize.name prize.prize}}" src="{{prize.icon}}" width="64" height="64" />
          {{else}}
            <span class="prize">{{either prize.name prize.prize}}</span>
          {{/if}}
          <span class="amount">{{either prize.count prize.amount}}</span>
        {{/if}}
      </td>
    {{/each}}
    <td>
      {{#if hasNoWinner}}
        {{#if isAdmin}} {{#unless isLottoOpen}} {{#if hasEntries}}
          <button type="button" class="roll btn btn-primary pull-right">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Roll
          </button>
        {{/if}} {{/unless}} {{/if}}
      {{else}}
        {{#if showSAPowers}}
          <button type="button" class="unroll btn btn-danger pull-right">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Unroll
          </button>
        {{/if}}
        {{#let winner=winnerData}}
          {{#let gwaccount=(getGWUser winner.gwuserId)}}
            <p>
              <span class="user">
                {{either gwaccount.alts.[0] (restoreDots gwaccount.account) }}
              </span> ({{restoreDots gwaccount.account}})<br />
              <span>{{winner.count}}x {{winner.name}}</span>
            </p>
          {{/let}}
        {{/let}}
      {{/if}}
    </td>
  </tr>
</template>
