<template name="tierRow">
  <tr class="prize-row">
    <th class="tier-number index" role="button">
      {{#if inSession 'SelectedTier' tier.tier}}&#9660;{{else}}&#9654;{{/if}}
      <i></i>
      (<span class="gold">{{tier.tier}}</span>)<br />
      <p>{{entriesLength}} {{#if hasOne}}Entry{{else}}Entries{{/if}}</p>
    </th>
    {{#each prize in prizeLoop tier.prizes}}
      <td {{attributes prize}}>
        {{#if prize}}
          {{#if prize.icon}}
            <img class="prize" alt="{{whichever prize.name prize.prize}}" data-toggle="tooltip" title="{{whichever prize.count prize.amount}}x {{whichever prize.name prize.prize}}" src="{{prize.icon}}" width="64" height="64" />
          {{else}}
            <span class="prize">{{whichever prize.name prize.prize}}</span>
          {{/if}}
          <span class="amount">{{whichever prize.count prize.amount}}</span>
        {{/if}}
      </td>
    {{/each}}
    <td>
      {{#if hasNoWinner}}
        {{#if isAdmin}} {{#unless isLottoOpen}} {{#if hasEntries}}
          <button type="button" class="roll btn btn-primary pull-right">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Roll
          </button>
        {{/if}} {{/unless}} {{/if}}
      {{else}}
        {{#if showSAPowers}}
          <button type="button" class="unroll btn btn-danger pull-right">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Unroll
          </button>
        {{/if}}
        <p>
          <span class="user">{{mainUsername winnerName}}</span><br />
          <span>{{winnerItem}}</span>
        </p>
      {{/if}}
    </td>
  </tr>
</template>
