.prize-row > td {
	position: relative;
}
.prize-row .amount {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 1em;
  padding: 0;
  color: #FFFF58;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.prize-row > th {
  font-weight: normal;
}

.prize-row > th i {
  font-weight: bold;
  font-style: normal;
}