<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <a class="navbar-brand" href="{{pathFor 'lottoList'}}">ICE Lotto</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{pathFor 'rules'}}">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Rules
              </a>
            </li>
            {{#if isAdmin }}
              <li>
                <a href="{{pathFor 'userList'}}">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
                </a>
              </li>
              <li>
                <a href="{{pathFor 'gwuserList'}}">
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> GW2 Users
                </a>
              </li>
              {{#if isSuperAdmin }}
                <li>
                  <button type="button" class="showSAPowers btn btn-{{#if showSAPowers}}danger{{else}}default{{/if}}">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> SuperAdmin
                  </button>
                </li>
              {{/if}}
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
          </ul>
        </div>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> yield }}
    </div>
  </div>
</template>
