<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'lottoList'}}">Ice Lotto</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
              {{#if isAdmin }}
                <li>
                  <a href="{{pathFor 'userList'}}">Users</a>
                </li>
                <li>
                  <a href="{{pathFor 'gwuserList'}}">GW2 Users</a>
                </li>
                {{#if isSuperAdmin }}
                <li>
                  <button type="button" class="showSAPowers btn btn-default {{#if showSAPowers}}btn-danger{{/if}}">
                    <span class="glyphicon glyphicon-eye-{{#if showSAPowers}}open{{else}}close{{/if}}" aria-hidden="true"></span> SuperAdmin
                  </button>
                </li>
                {{/if}}
              {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
          </ul>
        </div>
      </div>
    </header>
    <div id="main" class="row-fluid">
        {{> yield }}
    </div>
  </div>
</template>
