<template name="rules">
  <h1>ICE Lotto Rules</h1>
  <p>So... you're feeling lucky and wish to play some kind of lottery? Well ICE has a lottery where you can go from rags to riches with shinies!</p>

  <h3>Lotto Time</h3>
  <ul>
    <li>Saturdays @ 10 PM PST/1 AM EST</li>
  </ul>

  <h3>Lotto Operation</h3>
  <p>We use this website platform in order to conduct our lotteries. When the lottery is about to start, Nerium or one of the other Snow Fairies will provide a website link.<br>
  Our lottery is run in two stages:</p>
  <strong>Stage 1</strong>
  <p>We run through each of the prize rows. Each item in each row has a 1/10 chance of being chosen, and the chance of a specific person winning that row depends on the number of entries in that row.</p>
  <strong>Stage 2</strong>
  <p>Based off of the amount of money each player puts into the lottery for the week, they will either be eligible for the SMALL Pot, or the LARGE Pot. Check point (4) in How to Enter for more details.<br>
  The winner of the Small and Large pot will receive half of the money in each respective pot. The other half is used to restock the lottery. Any excess funds are stored in the guild reserves.</p>

  <h3>How to Enter</h3>
  <ol>
    <li>Make sure you are representing ICE in order to see the DEEP CAVE. You should see something like the screenshot below:<br>
      <img src="https://i.imgur.com/5upyXMW.jpg" class="center-block img-responsive img-rounded" alt="Guild Bank Screenshot">
    </li>
    <li>The Deep Cave is a 10x10 grid of prizes. Each row has a different amount of gold required in order to enter.<br>
      <i>Example:</i> If you are hoping to win the [9 Black Diamonds] sitting in row 7, you would need to deposit 14g into the DEEP CAVE.</li>
    <li>You may enter into each row as many times as you wish if you are aiming to improve your odds for a certain row.</li>
    <li>There are two pots of money for the lottery: the SMALL Pot, and the LARGE Pot. If a player puts in LESS THAN 20G total, they are eligible for the SMALL Pot. If they put in 20G or more in total, they are eligible for the LARGE Pot.</li>
    <li>Please make sure you divide up all your entries when depositing gold. We use the guild log in order to determine which row you entered in. If you put in an entry that is not part of our grid (so an odd number or larger than 20g), we're not going to know which row you wanted to enter to.</li>
    <li>If you have any questions, feel free to ask any Snow Fairy and we will be happy to assist!</li>
  </ol>
  <p>Best of luck and may your loot be shiny!</p>
</template>
