<template name="gwuserItem">
  <div>
    <ul class="alts list-inline">
      {{#each alts}}
        <li class="label label-primary col-xs-2">{{this}} <span class="remove-alt">&times;</span></li>
      {{/each}}
      <li>
        <form class="add-alt form-inline">
          <div class="form-group input-group">
            <input type="text" name="altName" class="form-control col-xs-2" placeholder="Alt Name" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Alt
              </button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>
</template>
